[filter "ipynb_drop_id"]
    clean = "gawk '{$0=gensub(/\"id\": \"00000000\",/, (\"\\\"id\\\": \\\"\" int(rand()*100000000) \"\\\",\"), \"g\", $0)}1' | jupyter nbconvert --Exporter.optimistic_validation=True --ClearMetadataPreprocessor.clear_cell_metadata=False --ClearMetadataPreprocessor.clear_notebook_metadata=True --ClearMetadataPreprocessor.enabled=True --ClearOutputPreprocessor.enabled=True --to notebook --RegexRemovePreprocessor.patterns='\\s*\\Z' --RegexRemovePreprocessor.enabled=True --stdin --stdout | sed -e 's/   \"id\": \"[0-9a-f-]\\+\",/   \"id\": \"00000000\",/g'"
    smudge = "gawk '{$0=gensub(/\"id\": \"00000000\",/, (\"\\\"id\\\": \\\"\" int(rand()*100000000) \"\\\",\"), \"g\", $0)}1'"
